footer {
    background-color: var(--accent-clr);
    box-shadow: 0 8px 12px var(--accent-clr);
    height: 5vh;
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    z-index: 10;
    position: relative;
    box-shadow: 0 0 12px var(--accent-shadow);
}

@media only screen and (max-width: 500px) {
    footer {
        font-size: 12px;
    }
}