nav {
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-clr);
    box-shadow: 0 4px 14px var(--accent-shadow);
    backdrop-filter: blur(12px);
    z-index: 999;
    position: relative;
    ul {
        display: flex;
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            padding: 12px;
            &:hover {
                color: var(--primary-clr);
              }
        }
    }
}


@media only screen and (max-width: 500px) {
    nav {
        width: 100vw;
        min-height: 7vh;
        position: fixed;
        flex-direction: column;
        div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
            svg {
                height: 1.8em;
                width: 1.8em;
                color: var(--white-text);
            }
        }
        ul{
            background-color: var(--base-clr);
            width: 100%;
            flex-direction: column;
            a {
                font-size: 14px;
            }
        }
    }
}