nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent-clr);
    box-shadow: 0 0 14px var(--accent-shadow);
    backdrop-filter: blur(12px);
    ul {
        display: flex;
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-size: 24px;
            padding: 5px;
        }
    }
}