
.search-bar {
    width: 300px;
    background-color: var(--base-clr);
    outline: none;
    height: 32px;
    border: 1px solid var(--base-clr);
    border-radius: var(--border-radius);
    padding: 8px;
    color: white;
    font-size: 18px;
}