.search-bar {
    display: flex;
    position: relative;
    .search-input {
        width: 300px;
        background-color: var(--base-clr);
        outline: none;
        height: 32px;
        border: 1px solid var(--base-clr);
        border-radius: var(--border-radius);
        padding: 8px;
        color: white;
        font-size: 18px;
    }
    .search-icon {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        position: absolute;
        z-index: 11;
        display: block;
        svg {
            color: white;
            height: 2em;
            width: 2em;
        }
    }
}

@media only screen and (max-width: 500px){
    .search-input {
        display: none;
    }
}