.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    .search {
        width: 0;
    }
    .search-input {
        background-color: var(--base-clr);
        outline: none;
        height: 32px;
        border: 1px solid var(--base-clr);
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        transition: all 2s linear;
        padding: 12px;
        color: white;
        font-size: 18px;
    }
    .search-icon {
        height: 30px;
        width: 30px;
        right: -20px;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        background-color: var(--accent-clr);
        box-shadow: 0 0 2px 2px var(--base-clr);
        display: block;
        svg {
            margin-top: 6px;
            color: white;
            height: 1em;
            width: 1em;
        }
        &:hover {
            cursor: pointer;
            svg {
                color: var(--primary-clr);
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .search-input {
        display: none;
    }
}