.slideshow {
  height: 80vh;
  width: 100%;
  position: relative;
  .image-container {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    button {
      background: var(--accent-clr);
      border: 1px solid var(--accent-clr);
      height: 48px;
      width: 114px;
      border-radius: 1rem;
      color: white;
      font-size: 18px;
      margin: 0 18px 48px 18px;
      cursor: pointer;
      box-shadow: 0 0 12px var(--accent-shadow);
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    background: rgb(28, 32, 37);
    background: linear-gradient(
      90deg,
      rgba(28, 32, 37, 0.9500175070028011) 0%,
      rgba(38, 43, 49, 0) 50%,
      rgba(28, 32, 37, 0.9528186274509804) 100%
    );
    position: absolute;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: space-between;
    button {
        background: none;
        width: 4%;
    }
  }
}
