.container {
  height: 50vh;
}

.slider {
  height: 90%;
  display: flex;
}

.card {
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 70%;
  height: 100%;
}
