.spinner {
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  background: #e5e5e5;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #ffffff 38%,
    #ffffff 40%,
    #e5e5e5 48%
  );
}

.not-found-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  button{
    // text-transform: uppercase;
    height: 38px;
    width: 84px;
    font-size: 16px;
    margin: 18px;
    border-radius: var(--border-radius);
    background-color: var(--accent-clr);
    border: none;
    color: var(--text-clr);
    box-shadow: 0 0 12px 2px var(--accent-shadow);
    &:hover {
      background: var(--primary-clr);
    }
  }
}



// animations keyframes

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}