@import "./navbar";
@import "./footer";
@import "./slideshow";
@import "./slider";
@import "./card";
@import "./utilites";
@import "./searchbar";

:root {
  --base-clr: #1c2025;
  --accent-clr: #262b31;
  --primary-clr: #0060d8;
  --accent-shadow: #262b31b6;
  --primary-shadow: #0061d8a1;
  --base-shadow: #1c2025b0;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  background-color: var(--base-clr);
  color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  height: 60vh;
}
