@import "./navbar";
@import "./footer";
@import "./slideshow";
@import "./slider";
@import "./utilites";
@import "./searchbar";
@import "./movie_page";
@import './modal';
@import './grid';

:root {
  --base-clr: #1c2025;
  --accent-clr: #262b31;
  --primary-clr: #0EB5F5;
  --accent-shadow: #14161afb;
  --primary-shadow: #0061d8a1;
  --base-shadow: #1c2025b0;
  --border-radius: 1rem;
  --white-text: rgb(226, 223, 223);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  background-color: var(--base-clr);
  color: var(--white-text);
  overflow-x: hidden;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  height: 100vh;
}

button:hover {
  cursor: pointer;
}
