.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 60vh;
  h1 {
    padding:  12px 12px 12px 0;
    font-size: 2.5rem;
    margin-bottom: 10px;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    text-shadow: 0 0 10px var(--accent-shadow);
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    &:hover {
      color: var(--primary-clr);
      cursor: pointer;
      svg {
        animation: infinite 2s arrows;
      }
    }
  }
}
.slider {
  display: flex;
  height: 100%;
  transition: all 1s ease-in-out;
  z-index: 2;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: none;
    height: auto;
    border: none;
    padding: 8px;
    z-index: 3;
    transition: var(--transition);
    &:hover {
      transform: scale(1.08);
      color: var(--primary-clr);
    }
    svg {
      transition: all 0.3s linear;
      height: 3.7em;
      width: 3.7em;
      color: rgb(230, 230, 230);
      filter: drop-shadow(0 0 15px black);
      &:hover {
        color: var(--primary-clr);
      }
    }
  }
}

.card {
  flex: 0 0 20%;
  max-width: 20%;
  height: 80%;
  z-index: 3;
  text-align: center;
  transition: var(--transition);
  &:hover {
    cursor: pointer;
    transform: scale(1.05) translateY(-10px);
    z-index: 8;
    h3 {
      color: var(--primary-clr);
    }
  }
  h3 {
    transition: all 0.2s ease-in;
  }
}

.card img {
  height: 100%;
  width: 97%;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  filter: grayscale(20%);
  &:hover {
    filter: grayscale(0);
  }
}


@keyframes arrows {
  0% {
    transform: translateX(0);
    opacity: 90%;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
    h3{ 
      font-size: 1rem;
    }
  }
  .container {
    height: 50vh;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 0;
      svg {
        height: 1em;
        width: 1em;
      }
    }
  }
  .slider {
    width: 100%;
    align-items: center;
  }
  .overlay {
    button {
      svg {
        height: 2.5em;
        width: 2.5em;
      }
    }
  }
}