.spinner {
  animation:.75s linear infinite spinner;
  color: var(--primary-clr);
  height: 3em;
  width: 3em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton {
  background: #e5e5e5;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #ffffff 38%,
    #ffffff 40%,
    #e5e5e5 48%
  );
}

.not-found-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  button {
    // text-transform: uppercase;
    height: 38px;
    width: 84px;
    font-size: 16px;
    margin: 18px;
    border-radius: var(--border-radius);
    background-color: var(--accent-clr);
    border: none;
    color: var(--text-clr);
    box-shadow: 0 0 12px 2px var(--accent-shadow);
    &:hover {
      background: var(--primary-clr);
    }
  }
}



// pagination

.pagination {
  margin-bottom: 54px;
  display: flex;
  align-items: center;
  direction: ltr;
  button {
    background-color: var(--accent-clr);
    border-radius: var(--border-radius);
    color: white;
    width: 44px;
    height: 44px;
    border: none;
    box-shadow: 0 0 12px var(--accent-shadow);
    margin: 0 6px 0 6px;
    &:hover {
      transform: scale(1.05);
    }
    svg {
      transition: var(--transition);
      height: 1.5em;
      width: 1.5em;
      &:hover {
        color: var(--primary-clr);
      }
    }
  }
  .page-number {
    background:none;
    box-shadow: none;
    &:hover {
      background-color: var(--accent-clr);
      box-shadow: 0 0 12px var(--accent-shadow);
    }
  }
  .active{
    width: 44px;
    height: 44px;
    color: var(--primary-clr);
    background-color: var(--accent-clr);
  }
}


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2025cc;
  transition: var(--transition);
  z-index: 11;
  img {
    width: 80vw;
    height: 80vh;
  }
  svg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    height: 2.5em;
    width: 2.5em;
    transition: var(--transition);
    &:hover {
      cursor: pointer;
      color: var(--primary-clr);
    }
  }
}




// animations keyframes

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
    100% {
        background-position: -100% 0;
    }
}

// small screen

@media only screen and (max-width: 500px) {
  .pagination {
    button {
      width: 34px;
      height: 34px;
      svg {
        height: 1.2em;
        width: 1.2em;
      }
    }
  }
  .modal-overlay {
    iframe {
      width: 90vw;
      height: 30vh;
    }
  }
}